body{
	background: #dadada;
	font-family: 'Questrial', sans-serif;
	color: #636363;
}
a{
	color: #5b84bd;
	text-decoration: none;
}
/* == Structure == */

#wrap{
	width: 750px;
	min-height: 650px;
	margin: 60px auto;
	background: #fff;
	border-radius: 12px;
}

header{
	padding: 30px;
	border-bottom: 1px solid #aaa;
}
.divide{
	font-size: 35px;
	color: #656565;
}
.service{
	color: #5b84bd;
	font-size: 25px;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}
.version{
	color: #666;
	font-size: 20px;
	position: absolute;
	margin-top: 9px;
	margin-left: 105px;
}

.inside{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 20px;
}
footer{
	width: 750px;
	margin: 0px auto;
	text-align: center;
}
.footer-text{
	color: #a0a0a0;
}
.bullet{
	margin-left: 10px;
	margin-right: 10px;
}
#demo{
	background: -webkit-linear-gradient(#a1b1bb 0%, #74899e 100%);
	width: 107px;
	height: 33px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-left: 560px;
	margin-top: -35px;
	padding-left: 13px;
	padding-top: 2px;
	position: absolute;
	
}
#bit{
	background: -webkit-linear-gradient(#277fb1 0%, #205081 100%);
	width: 110px;
	height: 33px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-right: 20px;
	padding-left: 10px;
	padding-top: 2px;
}
#zip{
	background: -webkit-linear-gradient(#30c074 0%, #409034 100%);
	width: 115px;
	height: 33px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-right: 20px;
	padding-left: 5px;
	padding-top: 2px;
}
#zip:hover, #bit:hover, #demo:hover{
	box-shadow: 0px 0px 6px 0px #555;
}
.btnText{
	position: absolute;
	margin-top: 5px;
	margin-left: 6px;
}
table{
	width: 700px;
	margin: 0 auto;
}
th{
	color: #000;
	font-weight: bold;
}
.vari {
	color: #000;
}
td{
	padding: 5px;
	border: 1px solid #333;
}
em{
	font-style: italic;
}
strong{
	font-weight: bold;
	color: #333;
}
.code{
	background: #eee;
	border: 1px solid #bbb;
	padding: 10px;
	width: auto;
	min-height: 20px;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 14px;
}
.green{
	color: green;
}
/* == Header == */ 
h1{
	font-size: 36px;
	color: #000;
	font-weight: 400;
	float: left;
	width: 200px;
}
h1 .light{
	color: #636363;
	font-weight: 300;
}
h2{
	font-size: 24px;
	color: #333;
	line-height: 28px;
}
